
  /* Your  /
 / styles /
/  here */

.module {
	all: unset;
}

div {
	display: flex;
	background-color: lightgray;
	width: 20%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border:  4px;
	border-style: solid;
	border-color: gray;
	border-radius: 4px;
	padding: 5px;
	}

input {
	background-color: white;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	border:  2px;
	border-style: solid;
	border-color: darkgray;
	border-radius: 2px;
	padding: 5px;
}

label {
	background-color: transparent;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	border:  1px;
	border-style: dotted;
	border-color: darkgray;
	border-radius: 1px;
	padding: 5px;
}
